/* body { */
/*     color: red; */
/* } */

.aula05 ul {
    border: 1px solid yellow;
}

.aula05 li {
    text-decoration: none;
}

/* aula 06 classes, tags e IDs */

#login {
    background-color: #000;
    color: #fff;
}

#register {
    background-color: yellow;
    color: #000;
}

.copy {
    background-color: #ccc;
    font-size: 1rem;
}

/* aula 07 propiedades */

.aula7 h1{
    text-align: center;
}

.aula7 .container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
}

.aula7 p {
    text-align: justify;
    padding: 0 0px;
}

.lister__footer {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.lister__footer  a {
    text-decoration: none;
}

.lister__footer  a li{
    padding: 0 10px;
}

/* aula 08 section */

.aula8 {
    color: #000;
    margin: 0;
    background: green;
    text-align: center;
}

.aula8 nav {
    padding-top: 2rem;
    text-decoration: line-through;
}
.aula8 nav span {
    color: crimson !important;
}

.aula8 nav span{
    color: aqua;
    margin-top: 2rem;
    text-decoration: line-through;
    font-size: 2rem;
    cursor: pointer;
}

.aula8 nav:hover{
    transform: scale(2) rotate(1deg);
    color: red;
    background: #fff;
}

.aula8 .first {
    border: 10px solid red;
    margin: 30px;
}

.aula8 #second {
    border: 10px solid fuchsia;
    padding: 30px;
}

.aula8 #second > div {
    padding-left: 20rem;
    background-color: blueviolet;

}

.aula8 .first,
.aula8 #second {
    background-color: brown;
    padding: 10px;

}

/* aula 15 FlexBox */

.aula15 {
    display: flex;
    justify-content: space-evenly;
}

.aula15 div {
    border: 1px solid #000;
    margin: 20px;
    flex-basis: 100%;
}

.aula15 img {
    max-width: 100%;
}

.aula15 p {
    width: 100%;
}

