* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
    background-image: url(./space.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: center;
    color: #fff;
    height: 100vh;
}

.header {
    background: rgba(0,0,0,.5);
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin-bottom: 7rem;
}

.header .logo{
    width: 80px;
    border-radius: 50%;
}

.header .links{
    display: flex;
    padding: 20px;
}

.header .item{
    padding-right: 10px;
    color: #fff;
    transition: .2s;
}



.header .item:hover{
    text-decoration: underline;
    opacity: .8;
}

.header .item a{
    color: #fff;
    font-size: 1.5rem;
}

.container {
    text-align: center;
}

#arrow {
    font-size: 35px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.rotate {
    transform: rotate(180deg);
    transition: .3s;
}

#animation {
    transition: .3s;
}


.title h1 {
    font-size: 60px;
}

.title h5 {
    font-size: 27px;
}

.about {
    display: none;
    max-width: 400px;
    margin: 10px auto;
    line-height: 22px;
    background: rgba(0,0,0,.8);
    border-radius: 10px;
    padding: 8px;
}

.about.active {
    display: block
}

.form {
    width: 40%;
    margin: 30px auto;
    margin-top: 30px;
}

.form input {
    width: 50%;
    padding: 4px 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    margin-top: 20px;
}

.form button {
    width: 15%;
    padding: 4px 10px;
    margin-left: -5px;
    background: linear-gradient(to right, #7BE26E 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: all .3s ease-out;
}

.form button:hover {
    background-position: left bottom;

}

@media only screen and (max-width: 880px){
    .form {
        width: 100%;
    }
}

@media only screen and (max-width: 480px){
    .container .title h1 {
        font-size: 40px;
    }

    .container .name h5 {
        font-size: 20px;
    }

    #about p {
        min-width: 80%;
        text-align: justify;
    }

}

