.container {
  padding: 0 2rem;
  max-width: 1180px;
  margin: 0 auto;
}

.formSerach {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.formSerach form{
  display: flex;
  justify-content: center;
}

.formSerach input{
  margin-bottom: 40px;
  height: 40px;
  width: 250px;
  border: 0;
  background-color: #fff;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 16px;
  outline: 0;
}

.formSerach button {
  height: 40px;
  background: #13c680;
  font-weight: bold;
  color: #fff;
  padding: 0 10px;
  border: 0;
}

